<h2><%= @produtos.nome %></h2>
<p><%= @produtos.descricao%>
<p><%= @produtos.preco %>
<p><%= @produtos.validade %>

<p>
	<%= link_to 'editar', edit_produto_path %> |
	<%= link_to 'voltar', produtos_path %>
</p>