<p><%= link_to 'Nova Empresa', new_empresa_path %><p>

<table>
  <tr>
    <td><b>Id</b></td>
    <td><b>Nome</b></td>
    <td><b>Descrição</b></td>
    <td><b>Cidade</b></td>
    <td>&nbsp;</td>
  </tr>

  <% @empresas.each do |empresa| %>
  <tr>
    <td>
    <%= empresa.id %>
    </td>
    <td>
    <%= empresa.nome %>
    </td>
    <td>
    <%= empresa.descricao %>
    </td>
    <td>
    <%= empresa.cidade %>
    </td>
    <td>
    <%= link_to 'Detalhes', empresa %> |
    <%= link_to 'Editar', edit_empresa_path(empresa) %> |
    <%= link_to 'Excluir', empresa, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %>
    </td>
  </tr>
  <% end %>
</table>