<h2><%= @empresa.nome %></h2>
<p><%= @empresa.descricao%>
<p><%= @empresa.cidade %>

<p>
	<%= link_to 'editar', edit_empresa_path %> |
	<%= link_to 'ver produtos', produtos_empresa_path(@empresa.id) %> |
	<%= link_to 'voltar', empresas_path %>
</p>