<!DOCTYPE html>
<html>
<head>
  <title>Rubyonrails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% if user_signed_in? %>
  Logado como, <strong><%= current_user.email %></strong>.
  <%= link_to 'Editar conta', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Sair", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Cadastre-se", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
 
<%- flash.each do |type, message| %>
  <div class="<%= type %>">
    <%= message %>
  </div>
<% end -%>

<%= yield %>

</body>
</html>
